node_modules/
node_modules
/test-results/
/playwright-report/
/playwright/.cache/
dist/
.git/
.github/
.eslintrc
.prettierrc
tests/
.vscode/
.idea/
docs/
CHANGELOG.md
webpack.config.js
rollup.config.js
.env
*.log
*.tmp
.DS_Store